.circle-bg{
    border-radius: 50%;
    border: 3px solid black;
    width: 100px;
    height: 100px;
    padding: 30px;
    margin-left: 20px;
}
.gameArea{
    margin-left: 20px;
}
.selectedCircle{
    background-color: white;
}
.correctNumber-Position{
    background-color:  #0F9D58;;
}
.correctNumber-wrongPosition{
    background-color: #F4B400;
}
.wrongNumber{
    background-color: #DB4437;
}
body{
    background-color: #FF0266;
}
.gameOver{
    height: 30 px;
    text-align: center;
    margin-left: 40%;
}
#instruction{
    height: 50px;
    width: 50px;
    text-align: center;
    margin-left: 0px;
}